.playlistContainer {
	background-color: rgb(255, 255, 255);
	height: 0px;
	transition: 0.5s;
	overflow: hidden;
}
.playlistContainer.active {
	height: 450px;
	transition: 0.5s;

	li {
		position: relative;
		z-index: 0;
		&:hover {
			position: relative;
			z-index: 9;
			cursor: pointer;
		}
	}
	.playlistImage {
		width: 450px;
		height: 300px;
		object-fit: cover;
		padding: 20px;
		transition: 0.2s;

		&:hover {
			transform: scale(1.1);
			transition: 0.2s;
		}
	}
}
.playlistsTab {
	padding: 10px;
	background-color: white;
	color: black;
	font-family: "Bebas Neue", cursive;
	cursor: pointer;
}
@media (max-width: 768px) {
	li {
		padding: 0;
		height: 300px;
	}
	.playlistsTab {
		position: relative;
		right: 55px;
	}
}
